/*grijs #899CA0*/
/*donkergroen #1C2B32*/


/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*////////////////////////
    2. Typography
////////////////////////*/

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

h2 {
    font-size: 18px;
    margin-top: 32px;
}

p {
    font-size: 10px;
}

input,
button, details {
     font-size: 10px;
     font-family: "Poppins", sans-serif;
 }

a {
    color: #899CA0;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #899CA0;
}


/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/

.header {
    color: #899CA0;
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #cccccc;
    margin: auto;
    padding: 52px 50px 218px 50px;
}

.header h1 {
    font-size: 65px;
    font-weight: bold;
    color: #1C2B32;
}

.header p {
    color: #1C2B32;
}

.form-check-availability {
    margin-top: 18px;
    border-color: #1C2B32;
}

.input-field-availability {
    border-radius: 20px 0 0 20px;
    border: 1px solid #1C2B32;
    padding: 12px 32px;
    margin: -5px;
    background-color: transparent;
}

input::placeholder {
    color: black;
}

.check-availability-button {
    border-radius: 0 20px 20px 0;
    border: 1px solid #1C2B32;
    padding: 12px 14px;
    background-color: #1C2B32;
    color: white;
}

.check-availability-button:hover {
    background-color: transparent;
    cursor: pointer;
    color: #1C2B32;
}

/*///////////// 3.2 Testimonial /////////////*/

main {
    max-width: 1000px;
    margin: 0 auto;
}

.quote-john-smith, .quote-jane-doe {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    margin: 32px auto;
    padding: 28px 42px;
    border-radius: 5px;
    font-size: 10px;
    position: relative;
}

.testimonials p {
    padding: 8px;
    text-align: left;
    margin-left: 16px;
}

.quote-left-icon {
    max-width: 20px;
    position: absolute;
    left: 36px;
    top: 28px;
}

.picture-avatar {
    max-width: 26px;
    position: absolute;
    left: 36px;
    top: 74px;
}

/*///////////// 3.3 Support /////////////*/

.support {
    text-align: left;
    margin: 22px 198px;
}

.support h2 {
    text-align: center;
}

.callcenter-image {
    max-width: 100%;
    border-radius: 5px;
    margin: 42px auto 0 auto;
}

.contact-button {
    border-radius: 20px;
    color: white;
    background: #1C2B32;
    padding: 10px 15px;
    margin-top: 18px;
}

.contact-button:hover {
    background-color: white;
    color: #1C2B32;
    cursor: pointer;
}

/*///////////// 3.4 Faq /////////////*/

.frequently-asked-questions {
    margin: 22px 198px;
    text-align: left;
}

.frequently-asked-questions h2 {
    text-align: center;
}

details {
    margin: 22px;
}

details:hover {
    cursor: pointer;
}

.details-open {
    background-color: #899CA0;
    border-radius: 5px;
    color: white;
    padding: 22px;
    margin: 12px;
}

/*///////////// 3.5 Footer /////////////*/

footer p {
    background-color: #1C2B32;
    color: white;
    font-size: 8px;
    padding: 15px;
}